* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#particles-js {
  background: url(./img/sneg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}
